<div class="postCont">
    <article class="post" id="<%=post._id%>">
        <h3> <a href="/post/<%=post._id%>"><%= post.title %></a> </h3>
        <h5> Author: <a href="/profile/<%=post.author%>"><%=users[post.author]%></a> </h5>
        <h5> <%= post.created.toString() %> </h5>
        <p> <%= post.content %>  </p>

        
        <div class="image-cont">
            <% for (var j=0; j<post.media.length&&j<limit; j++) { %>
                <% var thumbnail = 'http://i.imgur.com/' +post.media[j].imgID+ 'b.' +post.media[j].ext %>
                <a href="/media/<%= post.media[j].id+ '/' +post._id +'/'+ j+ '/' + post.media.length %>"><img src="<%=thumbnail%>" alt='user content photo'></a>
            <% } %>
        </div>

        <p>Comments: <%= comments.length %></p>
        <div class='comments'>
            <% for (var j=0; j<comments.length; j++) { %>
                <div class='singleComment'>
                    <p>
                        <a href="/profile/<%=comments[j].authorID%>"><%= users[comments[j].authorID] %></a> wrote on <%= comments[j].created%>:
                    </p>
                    <p>
                        <%= comments[j].comment %>
                    </p>
                </div>
            <% } %>
        </div>

        <form action="/feed" method="post">
            <input type="hidden" name="postID" class="postID" value="<%=post._id%>"/>
            <p><label for="comment">Post a Comment:</label></p>
            <p><textarea rows="5" cols="50" name="comment" class="comment" placeholder="Enter comment text here." required="required"></textarea></p>
            <p><button type="submit">Post</button></p>
        </form>
    </article>
</div>