<div class="postCont">
    <p><img src="<%=user.imageURL%>" class="userIcon"></p>
    <div class="description">
	    <% if (selfProfile) { %>
	    	<button class="editDescription">Edit Description</button>
	    <% } %>
        <span id="userDescription"><h4><%-user.description.replace('\n', '</h4><h4>')%></h4></span>
    </div>
    <h2><%=user.name%>'s posts:<h2>
    <% for (var i=0; i<feed.length; i++) {%>
    	<h3>
    	<% if (selfProfile) {%>
	    		<button class="delete" id="<%=feed[i]._id%>">X</button>
    		<% } %>
		<a href="/post/<%=feed[i]._id%>"><%=feed[i].title%></a>
		</h3>
    <% } %>
</div>