<!doctype html>
<!-- views/media.ejs -->
<html lang="en">
<head>
    <title> <%= "Natural Building Social — "+post.title %> </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<%- include('partials/nav.ejs', {user: user}) %>
<div class="container">
    <h1>Natural Building Social</h1>

    <main class="media postCont">
        <h3> <a href="/post/<%=post._id%>"><%= post.title %></a> </h3>
        <h5> <%= media.created.toString() %> </h5>
        <% var prev; var next; if (index==0) {prev=len-1} else {prev=index-1}; %>
        <% if (index==len-1) {next=0} else {next=index+1}; %>
        <% var prevLink="/media/"+post.media[prev].id+"/"+post._id+"/"+prev+"/"+len %>
        <% var nextLink="/media/"+post.media[next].id+"/"+post._id+"/"+next+"/"+len %>
        <h5> <a href="<%= prevLink %>">Previous </a><%= "Image " + (index+1) + " of " + len %> <a href="<%= nextLink %>"> Next </a> </h5>
        <img src="<%= media.link %>">
        <p> <%= media.description || "No description yet." %>  </p>

        <form enctype="text/plain" method="post">
            <label for="comment">Post Comments: <br>
            <textarea rows="10" cols="50" name="comment" id="comment" placeholder="Enter comment text here." required="required"></textarea> <br>
            <button type="submit">Post</button>
        </form>

    </main>

</div>
</body>
</html>