<!-- views/profile.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>Natural Building Social — <%=user.name%></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<%- include('partials/nav.ejs', {user: user}) %>
<div class="container">
    
    <h1>Natural Building Social — <%=user.name%></h1>

    <% if (selfProfile) {%>
        <%-include('partials/iconBar.ejs', {user: user});%>
    <% } %>

    <%- include('partials/profilePartial.ejs', {user: user, selfProfile: selfProfile}); %>


</div>
<form>
    <input type="hidden" id="user" value="<%=JSON.stringify(user)%>">
</form>
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="/scripts/profile.js"></script>

</body>
</html>